/* General formatting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  color: white;
  font-family: "Space Grotesk", sans-serif;
  max-width: 1280px;
  margin: auto;
  font-size: 1.45rem;
}

header {
  height: 105px;
}

/* Navbar Section of the Proejct */

#links-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  height: 100%;
}

#navigation-links {
  width: 400px;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding-left: 0;
}

#contact-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  width: 350px;
}

/* Hero Section of the Project */

.hero-section {
  /* background-color: rgb(165, 73, 73); */
  height: 1237px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  /* background-color: rgb(222, 171, 171); */
  height: 600px;
  display: flex;
}

img {
  max-height: 100%;
  max-width: 100%;
  /* padding: 0; */
}

#role p {
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
  opacity: 0.9;
  color: white;
}

.contact-btn {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: bold;
  padding: 17px;
  color: white;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.name-wrapper {
  /* background-color: aqua; */
  text-align: center;
  font-size: 22.5px;
}

.role {
  text-align: center;
  padding-top: 5px;
}

#greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(169, 169, 132); */
  width: 100%;
  flex-basis: 50%;
  flex-grow: 0;
  padding-bottom: 215px;
}

#container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-links {
  text-decoration: none;
  color: white;
}

.navigation-links:hover {
  text-shadow: 1px 0 0 var(--main-text-color);
  color: rgb(158, 157, 157);
}

.profile-picture {
  flex-basis: 50%;
  flex-grow: 0;
}

.download-button {
  fill: white;
  padding-top: 3px;
}

.hero-section-bottom {
  /* background-color: bisque; */
  position: absolute;
  bottom: 40px;
  right: 700px;
}

.arrow-down {
  /* font-size: 4rem; */
  cursor: pointer;
  /* position: absolute; */
  /* right: 5rem; */
  /* bottom: 8rem;
  width: 40px; */
  /* height: 40px; */
  animation: bounce 2s infinite;
  color: var(--light);
  opacity: 0.8;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* About Section of the prohect */
#about-section {
  height: 610px;
  /* background-color: aquamarine; */
}

#about-description {
  /* background-color: rgb(158, 157, 157); */
}

section h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.1px;
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: var(--light);
  justify-content: center;
  font-size: 1.8em;
  font-stretch: expanded;
  margin-bottom: 3rem;
  padding-top: 45px;
}

section #about-description p {
  line-height: 1.8;
  font-size: 1.7rem;
  text-align: justify;
}

#skills-section {
  height: 610px;
  background-color: rgb(47, 47, 47);
}
.container-skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

#skill {
  fill: white;
  cursor: pointer;
}

#skills-section > div > a:hover {
  transform: scale(1.5);
  fill: red;
  color: red;
}

#skills-section > div > a:hover svg {
  fill: red;
}
